@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Liên hệ</h1>
                <span>Hãy gửi tin nhắn cho chúng tôi ngay bây giờ!</span>
            </div>
        </div>
    </div>
</div>

<div class="contact-information" style=" padding: 110px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h4>Phone</h4>
                    <p>Chăm sóc khách hàng 24h.</p>
                    <a href="#">0967.666.888</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email</h4>
                    <p>Hòm thư tiếp nhận thông tin khách hàng</p>
                    <a href="https://mail.google.com">smartcellular@gmail.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h4>Location</h4>
                    <p>194 Đường Lê Duẩn, Đống Đa, Hà Nội<br> Việt Nam</p>
                    <a href="https://goo.gl/maps/XeZRGd6aij88urDu7">View on Google Maps</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="callback-form contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Hãy gửi cho chúng tôi thông tin của bạn</h2>
                    <span>Nhân viên chăm sóc khách của chúng tôi sẽ liên lạc ngay với bạn </span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contact-form">
                    <form id="contact" action="" method="get">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Phone Number" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.384988052666!2d105.83905911488317!3d21.017276286004694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab8f83c15eb1%3A0xe1f77b6a99404ff0!2zMTk0IMSQxrDhu51uZyBMw6ogRHXhuqluLCBLaMOibSBUaGnDqm4sIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1617354491598!5m2!1sen!2s" width="100%" height="400px" style="border:0;" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>

<!-- Footer Starts Here -->