@model IEnumerable<MobileStore.Models.Entity.Product>

@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>SMART PHONE</h1>
                <span>KẾT NỐI VỚI HÀNH TRÌNH CỦA BẠN, KẾT NỐI VỚI TƯƠNG LAI.</span>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            @if (Model.Count() > 0)
            {
                foreach (MobileStore.Models.Entity.Product sp in Model)
                {

                    <div class="col-md-4">
                        <div class="service-item">
                            <img src="~/Content/images/@sp.productImage" alt="" style="width:350px; height:370px">
                            <div class="down-content" style="width:350px; height:200px;">
                                <h4>@sp.productName</h4>
                                <div style="margin-bottom:10px;">
                                    <span>
                                        <span style="color: #d40707; font-size: 15px; font-weight: bold;">@String.Format("{0:N0}", float.Parse(sp.productSale))</span><u> đ</u>  &nbsp;  <span style="font-size: 12px; font-weight: 100;"><del>@String.Format("{0:N0}", float.Parse(sp.productPrice))</del></span><u> đ</u>
                                    </span>
                                </div>

                                <a href='@Url.Action("ProductDetail", "Product")/@sp.productID' class="filled-button">View More</a>
                            </div>
                        </div>
                        <br>
                        <br />
                    </div>

                }
            }
            else
            {
                <div>
                    <h2>Không có sản phẩm</h2>
                </div>
            }
        </div>
    </div>
</div>