@model MobileStore.Models.Entity.Product
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label for="" class="info">Tình trạng: </label><p>@(Model.Status == true ? " Còn hàng" : " Hết hàng")</p>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="form-group">
            <label for="" class="info">Số lượng</label>
            <input type="text" value="1" required="" class="form-control" id="quantity-product" />
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <button type="button" class="buttonFinish" id="addToCart">Add to Cart</button>

        </div>
    </div>
</div>


